auth --enableshadow --passalgo=sha
install
cdrom
#url --mirrorlist=http://mirrorlist.centos.org/?release=$releasever&arch=$basearch&repo=os
text
skipx
network --bootproto=dhcp --device=eth0

firewall --disabled
selinux --disabled
firstboot --disabled

lang en_US.UTF-8
keyboard us
timezone --utc Etc/UTC

rootpw --iscrypted $6$M0SIo$zvOx4Mb2URPVFCQdthSO.giQrdfKMfghwTtuS7dK/wRmgMikCkN85Wu0d2TzaHa4GZd1985Yz9tYaTuqmkZgV0
user --name=mirantis --groups=mirantis --password=mirantis --plaintext

zerombr
clearpart --all --initlabel
autopart --type=plain
bootloader --timeout=2

reboot

%packages
@core
which
# mandatory packages in the @core group
-btrfs-progs
-iprutils
-kexec-tools
-plymouth
# default packages in the @core group
-*-firmware
-dracut-config-rescue
-kernel-tools
-libsysfs
-microcode_ctl
-NetworkManager*
-postfix
-rdma
%end

%post --erroronfail
#yum -y update

cat <<EOF > /etc/sudoers.d/mirantis
Defaults:mirantis !requiretty
mirantis ALL=(ALL) NOPASSWD: ALL
EOF
chmod 440 /etc/sudoers.d/mirantis

ln -s /dev/null /etc/udev/rules.d/80-net-name-slot.rules
cat > /etc/sysconfig/network-scripts/ifcfg-eth0 <<EOF
DEVICE="eth0"
BOOTPROTO="dhcp"
ONBOOT="yes"
TYPE="Ethernet"
EOF
%end
